In [ ]:
import numpy as np 
import pandas as pd 
actual_duration = pd.read_csv('actual_duration.csv')
appointments_regional = pd.read_csv('appointments_regional.csv')
national_categories = pd.read_excel('national_categories.xlsx')

In [7]:
actual_duration.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [39]:
actual_duration['appointment_date'].astype('datetime64')
actual_duration.head()
print (actual_duration.dtypes)

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

In [40]:
print(actual_duration.loc[:, ['appointment_date']].apply(max, axis=0))
print(actual_duration.loc[:, ['appointment_date']].apply(min, axis=0))

appointment_date    31-May-22
dtype: object
appointment_date    01-Apr-22
dtype: object

In [8]:
appointments_regional.head()

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [32]:
national_categories.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [41]:
#Week 3 
#Question Between what dates were appointments scheduled? 
print(national_categories.loc[:, ['appointment_date']].apply(max, axis=0))
print(national_categories.loc[:, ['appointment_date']].apply(min, axis=0))

appointment_date   2022-06-30
dtype: datetime64[ns]
appointment_date   2021-08-01
dtype: datetime64[ns]

In [101]:
#week 3 
#Question 2: Which service setting reported the most appointments in North West London from 1 January to 1 June 2022?
nc_subset_1 = national_categories.loc['2022-01':'2022-07',:]
nc_subset_1

Empty DataFrame
Columns: [appointment_date, icb_ons_code, sub_icb_location_name, service_setting, context_type, national_category, count_of_appointments, appointment_month]
Index: []

In [92]:
nc_subset_2 = national_categories.groupby('appointment_date')
nc_subset_2

In [143]:
nc_subset_3 = national_categories.groupby(['sub_icb_location_name','appointment_date','service_setting'])['count_of_appointments'].agg('sum').reset_index()
nc_subset_x = (nc_subset_3['appointment_date']>'2022-01-01') & (nc_subset_3['appointment_date']<='2022-06-01') & (nc_subset_3['sub_icb_location_name']=='NHS North West London ICB - W2U3Z')
nc_subset_4 = nc_subset_3.loc[nc_subset_x]
nc_subset_4
#mask = (df['date'] > start_date) & (df['date'] <= end_date)

,sub_icb_location_name,appointment_date,service_setting,count_of_appointments
101914,NHS North West London ICB - W2U3Z,2022-01-02,Extended Access Provision,67
101915,NHS North West London ICB - W2U3Z,2022-01-02,General Practice,327
101916,NHS North West London ICB - W2U3Z,2022-01-02,Primary Care Network,38
101917,NHS North West London ICB - W2U3Z,2022-01-02,Unmapped,614
101918,NHS North West London ICB - W2U3Z,2022-01-03,Extended Access Provision,116
...,...,...,...,...
102640,NHS North West London ICB - W2U3Z,2022-06-01,Extended Access Provision,750
102641,NHS North West London ICB - W2U3Z,2022-06-01,General Practice,43273
102642,NHS North West London ICB - W2U3Z,2022-06-01,Other,1281
102643,NHS North West London ICB - W2U3Z,2022-06-01,Primary Care Network,939
102644,NHS North West London ICB - W2U3Z,2022-06-01,Unmapped,3167

In [141]:
nc_subset_4.groupby('service_setting')['count_of_appointments'].sum().sort_values(ascending=False)
#Question 2 answer: General Practice

service_setting
General Practice             4804011
Unmapped                      390610
Other                         152896
Primary Care Network          109792
Extended Access Provision      98087
Name: count_of_appointments, dtype: int64

In [144]:
#Week 3 Question 3 
#which month has the highest number of appointments 
nc_subset_5 = national_categories.groupby(['appointment_month'])
nc_subset_5.sum().sort_values('count_of_appointments', ascending = False)
#Answer: 2021-11

                   count_of_appointments
appointment_month
2021-11                         30405070
2021-10                         30303834
2022-03                         29595038
2021-09                         28522501
2022-05                         27495508
2022-06                         25828078
2022-01                         25635474
2022-02                         25355260
2021-12                         25140776
2022-04                         23913060
2021-08                         23852171

In [148]:
#Week 3 Questin 4 
#What was the total number of records per month? 
national_categories.groupby(['appointment_month'])['count_of_appointments'].sum()

appointment_month
2021-08    23852171
2021-09    28522501
2021-10    30303834
2021-11    30405070
2021-12    25140776
2022-01    25635474
2022-02    25355260
2022-03    29595038
2022-04    23913060
2022-05    27495508
2022-06    25828078
Name: count_of_appointments, dtype: int64

In [12]:
actual_duration.describe()

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [16]:
actual_duration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [14]:
appointments_regional.describe()

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [17]:
appointments_regional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [15]:
national_categories.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

In [18]:
national_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [31]:
#how many locations
print ("Count of icb_ons_code:", len(national_categories['icb_ons_code'].unique()))
print("Count of icb_ons_code:", len(appointments_regional['icb_ons_code'].unique()))
print("Count of Unique Locations:", len(actual_duration['sub_icb_location_name'].unique()))
print("Count of Unique Locations:", len(national_categories['sub_icb_location_name'].unique()))

Count of icb_ons_code: 42
Count of icb_ons_code: 42
Count of Unique Locations: 106
Count of Unique Locations: 106

In [33]:
#what are the five locations with the highest number of records
national_categories.sort_values(by=['count_of_appointments'],inplace=True,ascending=False)
national_categories

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
732144,2022-05-09,E54000029,NHS North East London ICB - A3A8R,General Practice,Care Related Encounter,General Consultation Routine,16590,2022-05
732705,2022-05-23,E54000029,NHS North East London ICB - A3A8R,General Practice,Care Related Encounter,General Consultation Routine,16527,2022-05
724735,2021-10-11,E54000029,NHS North East London ICB - A3A8R,General Practice,Care Related Encounter,General Consultation Routine,16495,2021-10
724978,2021-10-18,E54000029,NHS North East London ICB - A3A8R,General Practice,Care Related Encounter,General Consultation Routine,16492,2021-10
732446,2022-05-16,E54000029,NHS North East London ICB - A3A8R,General Practice,Care Related Encounter,General Consultation Routine,16412,2022-05
...,...,...,...,...,...,...,...,...
643979,2022-01-20,E54000032,NHS Kent and Medway ICB - 91Q,Extended Access Provision,Care Related Encounter,Planned Clinics,1,2022-01
207300,2022-02-10,E54000061,NHS South Yorkshire ICB - 03N,General Practice,Care Related Encounter,Patient contact during Care Home Round,1,2022-02
643909,2022-01-19,E54000032,NHS Kent and Medway ICB - 91Q,General Practice,Care Related Encounter,Walk-in,1,2022-01
109840,2022-03-17,E54000008,NHS Cheshire and Merseyside ICB - 01X,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,1,2022-03
220743,2021-10-11,E54000054,NHS West Yorkshire ICB - 03R,Other,Care Related Encounter,Home Visit,1,2021-10

In [40]:
#filter the top five locations 
nc_adjusted = national_categories[national_categories['count_of_appointments'] > 13000]
nc_adjusted['sub_icb_location_name'].unique()
#the top five locations are the following
#NHS North East London ICB - A3A8R
#NHS Hampshire and Isle Of Wight ICB - D9Y0V
#take the top 5 values of the following

array(['NHS North East London ICB - A3A8R',
       'NHS Hampshire and Isle Of Wight ICB - D9Y0V',
       'NHS North West London ICB - W2U3Z',
       'NHS Kent and Medway ICB - 91Q', 'NHS South East London ICB - 72Q',
       'NHS South West London ICB - 36L',
       'NHS North Central London ICB - 93C'], dtype=object)

In [44]:
#How many service settings, context types, national categories, and appointment statuses are there?
#Service settings
print(len(national_categories['service_setting'].unique()))

5

In [45]:
#context types
print(len(national_categories['context_type'].unique()))

3

In [46]:
#national categories
print(len(national_categories['national_category'].unique()))

18

In [47]:
#appointment status
print(len(appointments_regional['appointment_status'].unique()))

3